@using Patente
@using System.Linq

        <div class=" p-3 mx-auto justify-content-center" style="width:700px; height:700px ">
            <h5 class="card-title">Domanda @(_indice + 1) di @domandeSchedaQuiz.Count</h5>
            <img src="/images/@(domandeSchedaQuiz[_indice].Immagine).gif" class="card-img-top" alt="Immagine quiz">
            
            <div class="card-body">
            
                <p class="card-text">@domandeSchedaQuiz[_indice].DomandaQuiz</p>
                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button class="btn btn-success btn-lg px-4">Vero</button>
                    <button class="btn btn-danger btn-lg px-4">Falso</button>
                </div>
            </div>
        </div>


@code {
    [Parameter] public int IdCapitolo { get; set; }
    [Parameter] public List<Domanda> ListaDomande { get; set; }
    [Parameter] public List<Suggerimento> listaSuggerimenti { get; set; }
    private List<Domanda> domandeSchedaQuiz = new List<Domanda>();
    private List<Suggerimento> suggerimentiCorrenti;
    private int _indice = 0;
    protected override void OnParametersSet()
    {
        IEnumerable<Domanda>? tutteDomandeCapitolo = ListaDomande
            .Where(d => d.Id_Capitolo == IdCapitolo);

        domandeSchedaQuiz = tutteDomandeCapitolo.OrderBy(x => Guid.NewGuid()).Take(30).ToList();

        _indice = 0;

        if (domandeSchedaQuiz.Any())
        {
            CaricaSuggerimenti();
        }
    }

    private void CaricaSuggerimenti()
    {
        if (domandeSchedaQuiz.Count == 0) return;

        Domanda domanda = domandeSchedaQuiz[_indice];

        if (listaSuggerimenti != null)
        {
            suggerimentiCorrenti = listaSuggerimenti
                .Where(s => s.Id == domanda.Teoria)
                .ToList();
        }
    }
}